<div *ngIf="bike">
    <h2>{{bike.name}} Details</h2>

    <div>
        <label for="name">Station Name:</label>{{bike.name}} <br>
        <label for="address">Address:</label>{{bike.address}} <br>
        <label for="status">Status:</label>{{bike.status}} <br>
        <label for="bike_stands">Bike Stands:</label>{{bike.bike_stands}} <br>
        <label for="available_bike_stands">Available Bike Stands:</label>{{bike.available_bike_stands}} <br>
        <label for="available_bikes">Available Bikes:</label>{{bike.available_bikes}} <br>

    </div>

</div>